.alert {
  position: fixed;
  z-index: 9999;
  width: 120%;
  animation-name: alert;
  animation-duration: 2s;
  transform:translateY(-50px);
  opacity: 0.9;
}

@keyframes alert {
  from {  transform:translateY(-50px); }
  10%,90% { transform:translateY(0px); }
  to { transform:translateY(-50px); }
}
