.qPageNav {
  border: 0;
  background-color: #fff;
  height: 30px;
  margin-left: 2px;
  transition: 0.5s background-color;
}

.qPageNav.disabled {
  color:#9D9D9D;
  cursor: default;
}

.qPageNav.disabled:hover {
  background-color: #fff;
}

.qPageNav:hover {
  background-color: #efefef;
}

.qPageNav:focus {
  outline: 0;
}

.qPageButton {
  border: 0;
  background-color: #fff;
  width: 30px;
  height: 30px;
  margin-left: 2px;
  transition: 0.5s;
}

.qPageButton:hover {
  background-color: #efefef;
}

.qPageButton:focus {
  outline: 0;
  background-color: #79cf96;
  box-shadow: 0 0 8px 0px #dfe8da;
}

.qPageButton.active {
  background-color: #79cf96;
  box-shadow: 0 0 8px 0px #dfe8da;
}
